<!--<h2>Resend confirmation instructions</h2>-->

<%#= form_for(resource, as: resource_name, url: user_confirmation_path(), html: { method: :post }) do |f| %>
  <%#= render "users/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Resend confirmation instructions" %>
<!--  </div>-->
<%# end %>

<%#= render "users/shared/links" %>

<%= content_for :styles do %>
  <style>
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
<% end %>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Resend confirmation instructions
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: user_confirmation_path(), html: { method: :post, class: 'ui large form' }) do |f| %>
      <div class="ui stacked segment">
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="inline field">
          <%= f.label :email, 'Email:' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
        <%= f.submit "Resend confirmation instructions", class: 'ui fluid large teal submit button' %>
      </div>

      <div class="ui error message"></div>
    <% end %>
    <div class="ui message">
      New to us? <%= link_to 'Sign Up',  new_registration_path(resource_name), class: 'item' %>
      <br />
      have account? <%= link_to 'Login',  new_session_path(resource_name), class: 'item' %>
      <br />
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end %>
    </div>
  </div>
</div>