<div class="ui padded grid">
  <div class="ui row">
    <h2 class="ui header" style="width: 100%; padding: 0em 1rem">
      <%= image_tag "books.png", class: "ui small image" %>
      <div class="content">
        Latest <%= link_to "Books", books_path %>
      </div>
      <div class="ui right floated basic segment" style="margin: 0em !important; padding: 0em !important;">
        <%= link_to "More", books_path, class: "ui green button" %>
      </div>
    </h2>
    <div class="ui four cards" style="margin: 0">
      <% @books.each do |book| %>
        <%= render 'books/card', {book: book} %>
      <% end %>
    </div>
  </div>
  <div class="ui row">
    <div class="ui grid container">
      <div class="ui eight wide column">
        <h2 class="ui header">
          <%= image_tag "author.png" %>
          <div class="content">
            Latest <%= link_to "Authors", users_path %>
          </div>
        </h2>
        <div class="ui horizontal cards">
          <% @authors.each do |author| %>
            <%= render('users/card', {user: author}) %>
          <% end %>
        </div>
      </div>
      <div class="ui eight wide column">

      </div>
    </div>
  </div>
</div>