<p id="notice"><%= notice %></p>

<h1>Semafors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semafors.each do |semafor| %>
      <tr>
        <td><%= link_to 'Show', semafor %></td>
        <td><%= link_to 'Edit', edit_semafor_path(semafor) %></td>
        <td><%= link_to 'Destroy', semafor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Semafor', new_semafor_path %>
