<div class="ui card" style="height: 100%">
  <div class="image" style="height: 80%; display: flex">
    <%= image_tag resource_image_url(book.front_cover) %>
  </div>
  <div class="content">
    <%= link_to "#{book.title}", book_path(book.id), class: "header" %>
    <div class="meta">
      <%= book.authors.length == 1 ? "Author" : "Author".pluralize %>:
      <% book.authors.each_with_index do |author, index| %>
        <%= link_to "#{author.first_name} #{author.last_name}#{"," unless index == book.authors.length - 1}", user_path(author.id) %>
      <% end %>
    </div>
    <div class="description">
      <%= book.summary %>
    </div>
    <div class="extra content">
      <% if authenticated? %>
        <% borrow = book_is_borrowed?(book) %>
        <% if borrow %>
          <%= form_with(url: book_borrow_path(book_id: book.id, id: borrow.id), html: {method: :patch}, local: true) do |form| %>
            <%= form.hidden_field :return_date, value: Date.today %>
            <%= form.button "Return", class: "ui fluid blue button" %>
          <% end %>
        <% elsif current_user.can_borrow_book?(book.id) %>
          <%= form_with(url: book_borrows_path(book_id: book.id), method: "post", local: true) do |form| %>
            <%= form.submit "Borrow", class: "ui fluid violet button" %>
          <% end %>
        <% else %>
          <small>You reach maximum books borrowed. please return them to borrow more!</small>
        <% end %>
      <% else %>
        <small>Please login/sign up to borrow</small>
      <% end %>
    </div>
  </div>
</div>