<div class="ui raised very padded text container segment" style="margin-top: 2rem">
  <h1 class="ui header"><%= name %></h1>
  <%= form_with(model: model, html: {class: "ui form"}) do |f| %>
    <% if model.errors.any? %>
      <div id="error_explanation">
        <div class="ui header"><%= pluralize(model.errors.count, "error") %> prohibited this Book from being saved:</div>

        <div class="ui bulleted list">
          <% model.errors.full_messages.each do |message| %>
            <div class="item ui warning message"><%= message %></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="ui segment" style="display: flex; gap: 1rem; align-items: center">
      <%= f.label :front_cover, 'Front Cover' %>
      <%= image_tag resource_image_url(model, :front_cover), class: "ui circular image", style: "margin: 0" %>
      <%= f.file_field :front_cover, accept: 'image/png,image/jpeg,image/svg+xml' %>
    </div>
    <div class="ui segment" style="display: flex; gap: 1rem; align-items: center">
      <%= f.label :back_cover, 'Back Cover' %>
      <%= image_tag resource_image_url(model, :back_cover), class: "ui circular image", style: "margin: 0" %>
      <%= f.file_field :back_cover, accept: 'image/png,image/jpeg,image/svg+xml' %>
    </div>
    <div class="field">
      <%= f.label :sample, 'Sample' %>
      <%= f.file_field :sample, accept: 'application/pdf' %>
    </div>
    <div class="field">
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title, required: true, placeholder: 'Title' %>
    </div>
    <div class="field">
      <%= f.label :isbn, 'ISBN' %>
      <%= f.text_field :isbn, required: true, placeholder: 'Last Name', html: {minlength: 10, maxlength: 12} %>
    </div>
    <div class="field">
      <%= f.label :publication_date, 'Publication Date' %>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <%= f.text_field :publication_date, required: true, placeholder: 'Publication Date' %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :pages, 'Pages' %>
      <%= f.number_field :pages, required: true, placeholder: 'Pages' %>
    </div>
    <div class="field">
      <%= f.label :publisher_id, 'Publisher' %>
      <div class="ui fluid search selection dropdown deny-addition">
        <%= f.hidden_field :publisher_id, required: true, placeholder: 'Publisher' %>
        <i class="dropdown icon"></i>
        <div class="default text">Publisher</div>
        <div class="menu">
          <% publishers.each do |p| %>
            <div class="item" data-value="<%= p.id %>"><%= p.name %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :genre, 'Genres' %>
      <div class="ui fluid multiple search selection dropdown allow-addition">
        <%= f.hidden_field :genre, required: true, placeholder: 'Genres' %>
        <i class="dropdown icon"></i>
        <div class="default text">Genres</div>
        <div class="menu">
          <% genres.each do |g| %>
            <div class="item" data-value="<%= g %>"><%= g %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :language, 'Language' %>
      <div class="ui fluid search selection dropdown allow-addition">
        <%= f.hidden_field :language, required: true, placeholder: 'Language' %>
        <i class="dropdown icon"></i>
        <div class="default text">Language</div>
        <div class="menu">
          <% languages.each do |l| %>
            <div class="item" data-value="<%= l %>"><%= l %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :author_id, 'Author' %>
      <div class="ui fluid search multiple selection dropdown deny-addition">
        <%= f.hidden_field :authors_ids, placeholder: 'Author' %>
        <i class="dropdown icon"></i>
        <div class="default text">Author</div>
        <div class="menu">
          <% authors.each do |a| %>
            <div class="item" data-value="<%= a[:id] %>"><%= a[:name] %></div>
          <% end %>
        </div>
      </div>
    </div>

    <%= f.submit name, class: 'ui fluid large teal submit button' %>

    <% if current_user.can_create_authors? %>
      <div class="ui message">
        Don't find author click <%= link_to 'here', users_authors_new_path, class: 'ui blue text' %> to create it
      </div>
    <% end %>
  <% end %>
</div>


<script>
    $(".ui.deny-addition.dropdown").dropdown();
    $(".ui.allow-addition.dropdown").dropdown({
        allowAdditions: true
    });
    $(".ui.calendar").calendar({type: 'date',})
</script>