<%= content_for :styles do %>
  <style>
    body {
      background-color: #DADADA;
    }
  </style>
<% end %>
<div class="ui raised very padded text container segment" style="margin-top: 2rem">
  <h1 class="ui header"><%= local_assigns[:name] %></h1>
  <%= form_with(model: local_assigns[:model], html: {class: "ui form", method: local_assigns[:method]}) do |f| %>
    <% if local_assigns[:model].errors.any? %>
      <div id="error_explanation">
        <div class="ui header"><%= pluralize(book.errors.count, "error") %> prohibited this Book from being saved:</div>

        <div class="ui bulleted list">
          <% local_assigns[:model].errors.full_messages.each do |message| %>
            <div class="item ui warning message"><%= message %></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="ui segment" style="display: flex; gap: 1rem; align-items: center">
      <%= f.label :front_cover, 'Front Cover' %>
      <% if local_assigns[:model].front_cover.attached? %>
        <%= image_tag local_assigns[:model].front_cover.variant(resize: "100x100!"), class: "ui circular image", style: "margin: 0" %>
      <% else %>
        <%= image_tag 'front-cover-placeholder.jpg', class: "ui circular image", style: "margin: 0" %>
      <% end %>
      <%= f.file_field :front_cover, accept: 'image/png,image/jpeg,image/svg+xml' %>
    </div>
    <div class="ui segment" style="display: flex; gap: 1rem; align-items: center">
      <%= f.label :back_cover, 'Back Cover' %>
      <% if local_assigns[:model].back_cover.attached? %>
        <%= image_tag local_assigns[:model].back_cover.variant(resize: "100x100!"), class: "ui circular image", style: "margin: 0" %>
      <% else %>
        <%= image_tag 'front-cover-placeholder.jpg', class: "ui circular image", style: "margin: 0" %>
      <% end %>
      <%= f.file_field :back_cover, accept: 'image/png,image/jpeg,image/svg+xml' %>
    </div>
    <div class="field">
      <%= f.label :sample, 'Sample' %>
      <%= f.file_field :sample, accept: 'application/pdf' %>
    </div>
    <div class="field">
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title, required: true, placeholder: 'Title' %>
    </div>
    <div class="field">
      <%= f.label :isbn, 'ISBN' %>
      <%= f.text_field :isbn, required: true, placeholder: 'Last Name', html: {minlength: 10, maxlength: 12} %>
    </div>
    <div class="field">
      <%= f.label :publication_date, 'Publication Date' %>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <%= f.text_field :publication_date, required: true, placeholder: 'Publication Date' %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :pages, 'Pages' %>
      <%= f.number_field :pages, required: true, placeholder: 'Pages' %>
    </div>
    <div class="field">
      <%#= f.label :publisher_id, 'Publisher' %>
      <%#= f.collection_select :publisher_id, local_assigns[:publishers], :id, :name, required: true, placeholder: 'Publisher', class: 'ui selection dropdown' %>

      <%= f.label :publisher_id, 'Publisher' %>
      <div class="ui fluid search selection dropdown deny-addition">
        <%= f.hidden_field :publisher_id, required: true, placeholder: 'Publisher' %>
        <i class="dropdown icon"></i>
        <div class="default text">Publisher</div>
        <div class="menu">
          <% local_assigns[:publishers].each do |p| %>
            <div class="item" data-value="<%= p.id %>"><%= p.name %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :genre, 'Genres' %>
      <div class="ui fluid multiple search selection dropdown allow-addition">
        <%= f.hidden_field :genre, required: true, placeholder: 'Genres', value: local_assigns[:model][:genre].join(",") if !local_assigns[:model][:genre].nil? %>
        <i class="dropdown icon"></i>
        <div class="default text">Genres</div>
        <div class="menu">
          <% local_assigns[:genres].each do |g| %>
            <div class="item" data-value="<%= g %>"><%= g %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :language, 'Language' %>
      <div class="ui fluid search selection dropdown allow-addition">
        <%= f.hidden_field :language, required: true, placeholder: 'Language' %>
        <i class="dropdown icon"></i>
        <div class="default text">Language</div>
        <div class="menu">
          <% local_assigns[:languages].each do |l| %>
            <div class="item" data-value="<%= l %>"><%= l %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :author_id, 'Author' %>
      <div class="ui fluid search selection dropdown deny-addition">
        <%= f.hidden_field :author_id, required: true, placeholder: 'Author' %>
        <i class="dropdown icon"></i>
        <div class="default text">Author</div>
        <div class="menu">
          <% local_assigns[:authors].each do |a| %>
            <div class="item" data-value="<%= a[:id] %>"><%= a[:name] %></div>
          <% end %>
        </div>
      </div>
    </div>

    <%= f.submit local_assigns[:name], class: 'ui fluid large teal submit button' %>

    <% if local_assigns[:user].can_create_author? %>
      <div class="ui message">
        Don't find author <%= link_to 'click here', users_authors_new_path, class: 'item' %> to create it
      </div>
    <% end %>
  <% end %>
</div>


<script>
    $(".ui.deny-addition.dropdown").dropdown();
    $(".ui.allow-addition.dropdown").dropdown({
        allowAdditions: true
    });
    $(".ui.calendar").calendar({type: 'date',})
</script>