<div class="ui grid container" style="padding-top: 2rem;">
  <div class="ui six wide column">
    <%= image_tag 'front-cover-placeholder.jpg', style: "width: 100%" %>
    <div class="ui list">
      <% if @book.sample.attached? %>
        <div class="item">
          <%= link_to "Download sample", url_for(@book.sample), class: "ui fluid gray button" %>
        </div>
      <% end %>
      <% if authenticated? %>
        <% if @borrow %>
          <%= form_with(url: book_borrow_path(book_id: @book.id, id: @borrow[:id]), html: {method: :patch}, local: true) do |form| %>
            <%= form.hidden_field :return_date, value: Date.today %>
            <%= form.button "Return", class: "ui fluid blue button" %>
          <% end %>
        <% elsif current_user.can_borrow_book?(@book.id) %>
          <%= form_with(url: book_borrows_path(book_id: @book.id), method: "post", local: true) do |form| %>
            <%= form.submit "Borrow", class: "ui fluid violet button" %>
          <% end %>
        <% end %>
        <% if current_user.can_update_book?(@book.id) %>
          <div class="item">
            <%= link_to "Edit", edit_book_path(id: @book.id), class: "ui fluid green button" %>
          </div>
        <% end %>
        <% if current_user.can_destroy_book?(@book.id)|| current_user.can_destroy_books? %>
          <div class="item">
            <%= link_to "Destroy", book_path(id: @book.id), method: :delete, class: "ui fluid red button" %>
          </div>
        <% end %>
      <% else %>
        <div class="center aligned item">
          <small>Please login/sign up to borrow</small>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ui ten wide column">
    <h1 class="ui header"><%= @book.title %></h1>
    <h2 class="ui header"><%= @book.authors.map { |a| "#{a.first_name} #{a.last_name}" }.join(", ") %></h2>
    <div class="ui header">About the book</div>
    <div class="ui list">
      <div class="item">
        <div class="header">Pages</div>
        <%= @book.pages %>
      </div>
      <div class="item">
        <div class="header"><%= @book.genre.length > 1 ? "Genre".pluralize : "Genre" %></div>
        <%= @book.genre.join(', ') %>
      </div>
    </div>
  </div>
  <div class="ui row">
    <p class="ui text">
      <%= @book.summary %>
    </p>
  </div>
</div>

