<div class="ui grid container" style="padding-top: 2rem;">
  <div class="ui six wide column">
    <%= image_tag 'front-cover-placeholder.jpg', style: "width: 100%" %>
    <div class="ui list">
      <% if @can_borrow  %>
        <div class="item">
          <%= form_with(url: book_borrows_path(book_id: @book.id), method: "post", local: true) do |form| %>
            <%= form.button "Borrow", class: "ui fluid violet button" %>
          <% end %>
        </div>
      <% end %>
      <% if !@borrow.nil? %>
        <div class="item">
          <%= form_with(url: book_borrow_path(book_id: @book.id, id: @borrow[:id]), html: { method: :patch }, local: true) do |form| %>
            <%= form.hidden_field :return_date, value: Date.today %>
            <%= form.button "Return", class: "ui fluid blue button" %>
          <% end %>
        </div>
      <% end %>
      <% if can_update? %>
        <div class="item">
          <%= link_to "Edit", edit_book_path(id: @book.id), class: "ui fluid green button"%>
        </div>
      <% end %>
      <% if @current_user.can_delete_book? %>
        <div class="item">
          <%= link_to "Delete", book_path(id: @book.id), method: :delete, class: "ui fluid red button"%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ui ten wide column">
    <h1 class="ui header"><%= @book.title %></h1>
    <h2 class="ui header"><%= @book.authors.map { |a| "#{a.first_name} #{a.last_name}" }.join(", ") %></h2>
    <div class="ui header">About the book</div>
    <p class="ui text">

    </p>
    <div class="ui list">
      <div class="item">
        <div class="header">Pages</div>
        <%= @book.pages %>
      </div>
      <div class="item">
        <div class="header"><%= @book.genre.length > 1 ? "Genre".pluralize : "Genre" %></div>
        <%= @book.genre.join(', ') %>
      </div>
    </div>
  </div>
</div>

